doctype html
html
    block head
        head
            title= title
            block slyles
                link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css')
                link(rel='stylesheet', href='/css/main.css')
    body
        .container
            block header
                include ./blocks/header
            block content
                p Скоро все будет!

            block footer

    block scripts
        script(src="/js/main.js")
