doctype html
html
    head
        title= title
        block slyles
            link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/main.css')
    body
        block content

        block scripts
            script(src="/vendor/bower_components/jquery/dist/jquery.min.js")
            script(src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js")
