doctype html
html
    block head
        head
            title= title
            block slyles
                link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
                link(rel='stylesheet', href='/vendor/material.min.css')
                link(rel='stylesheet', href='/css/main.css')
    body
        #root

        block content
            p Скоро все будет!


    block scripts
        if user
            script(type='text/javascript').
                var cunameUser = {
                    username: !{JSON.stringify(user.username)},
                    images: !{JSON.stringify(user.images)}
                };
        else
            script(type='text/javascript').
                var cunameUser = {
                    username: 'Гость',
                    images: []
                };

        script(src="/vendor/bower_components/material-design-lite/material.min.js")
        script(src="/js/main.js")
