extends layout

block content
    h1= title

    .row
        .col-md-6
            .panel.panel-default
                .panel-body
                    form#login-form(method="POST", action="/login")
                        .form-group
                            label(for="email") Email адресс
                            input.form-control#email(type="email", placeholder="Email")
                        .form-group
                            label(for="password") Пароль
                            input.form-control#password(type="password")
                        .form-group
                            label(for="repeat_password") Введите еще раз пароль
                            input.form-control#repeat_password(type="password")

                        button.btn.btn-primary(type="submit") Зарегистрироваться