a:focus {
  outline: none;
}
.mdl-layout-icon .material-icons {
  font-size: 32px;
}
.fetching {
  position: fixed;
  height: 2px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.fetching:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #00ccb8;
  width: 0;
}
.fetching.start:before {
  width: 70%;
  transition: 1s cubic-bezier(0, 0.19, 0.02, 0.98);
}
.fetching.end:before {
  width: 100%;
  transition: 1s ease-in;
}
.ReactModalPortal {
  position: relative;
  z-index: 10;
}
.ReactModal__Overlay--after-open {
  background-color: transparent !important;
}
.ReactModal__Content--after-open {
  border: 0;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,0.14), 0 11px 15px -7px rgba(0,0,0,0.12), 0 24px 38px 3px rgba(0,0,0,0.2);
  width: 400px;
  background: #fff;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
}
