.row
    .col-md-12
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Cuname

                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    p.navbar-text.navbar-right
                        if user
                            |Вы вошли как
                            a.navbar-link(href="#") #{user}
                        else
                            a.navbar-link(href="/login") Войти

                            a.navbar-link(href="/register") Зарегистрироваться