.panel.panel-default.imgs-panel#imgs-panel
    .panel-body
        .row
            -for (var i = 0; i < 4; i++) {
                .col-xs-6.col-md-3
                    a.thumbnail(href="")
                        img(src="http://placehold.it/250x250", alt="")
            -}

            if user
                -for (var j = 0; j < 4; j++) {
                    .col-xs-6.col-md-3
                        div.thumbnail.no-img
                            form.imgs_file_form(method="post", action="/uploads", onsubmit="return false;", enctype="multipart/form-data")
                                .form-group
                                    label(for="exampleInputFile") Загрузка файла
                                    input#exampleInputFile(type="file", name="img_file")

                                button.btn.btn-default(type="submit") Загрузить

                -}