.panel.panel-default
    .panel-body
        .row
            -for (var i = 0; i < 8; i++) {
                .col-xs-6.col-md-3
                    a.thumbnail(href="")
                        img(src="http://placehold.it/250x250", alt="")
            -}