.panel.panel-default.imgs-panel#imgs-panel
    .panel-body
        .row
            if user && imgs_count > 0
                -for (var j = 0; j < imgs_count; j++) {
                    .col-xs-6.col-md-3(data-imgform=j)
                        a.thumbnail(href="/i/" + imgs[j])
                            img(src="/i/" + imgs[j])

                        button.close(type='button', aria-label='Close')
                            span.remove_img(aria-hidden='true') ×
                -}

                -for (var i = imgs_count; i < 8; i++) {
                    .col-xs-6.col-md-3
                        div.thumbnail.no-img
                            form.imgs_file_form(method="post", action="/uploads", onsubmit="return false;", enctype="multipart/form-data")
                                .form-group
                                    label(for="exampleInputFile") Загрузка файла
                                    input#exampleInputFile(type="file", name="img_file")
                                button.btn.btn-default(type="submit") Загрузить
                -}
            else
                -for (var i = 0; i < 8; i++) {
                    .col-xs-6.col-md-3
                        div.thumbnail.no-img
                            form.imgs_file_form(method="post", action="/uploads", onsubmit="return false;", enctype="multipart/form-data")
                                .form-group
                                    label(for="exampleInputFile") Загрузка файла
                                    input#exampleInputFile(type="file", name="img_file")

                                button.btn.btn-default(type="submit") Загрузить
                -}