.fetching
    position: fixed;
    height: 2px;
    width: 100%;
    top: 0;
    left: 0;
    z-index 1

    &:before
        content ' '
        position: absolute
        top: 0
        left: 0
        height: 100%
        background-color #00ccb8
        width: 0

    &.start:before
            width: 70%
            transition 1s cubic-bezier(0,.19,.02,.98)

    &.end:before
            width: 100%
            transition 1s ease-in