.img-card
    height: 250px
    width: 100%

    .mdl-card__actions
        height: 52px
        padding: 16px
        background rgba(0,0,0,0.2)

        span
            color #fff
            font-size 14px
            font-weight 500

    .add-file__icon
    .remove-file__icon
        height:40px;
        line-height:40px;
        fill:#ffffff;
        color:#ffffff;

    .action-imgbtns
        height: 126px
        padding: 10px
        text-align right

        .material-icons
            text-decoration none
            color rgb(255,64,129)
            font-size: 30px;
            margin-left: 6px;
            text-shadow: 0 0 5px rgba(0,0,0,0.3);
            cursor: pointer