.img-card
    height: 250px
    width: 100%

    .mdl-card__actions
        height: 52px
        padding: 16px
        background rgba(0,0,0,0.2)

        span
            color #fff
            font-size 14px
            font-weight 500